__pycache__/
DAT/
Chapter003_e.ybc
Chapter003.ybc 
.DS_Store 
*.csv
AdvDatDump/
.vscode
Tactics_Ystext/
SCRIPT/*.ybc
SCRIPT 
DataADVDATChapter_dump/
DataTACTICSSCRIPT_dump/
DataYstext_dump/
t*e/
.clj*/
.lsp/*
*e.bin